---
// import github logo from simpleicons
import { siGithub, siHuggingface, siKaggle, siDocker, siLinkedin, siOrcid} from 'simple-icons'
---

<footer>
    <p>Send me an email at <a href="mailto:me@osbm.dev"> me@osbm.dev</a>. Or find me on the platforms below:</p>
    <div class="socials">
        <a href="https://github.com/osbm" target="_blank" rel="noopener">
            <svg viewBox="0 0 24 24" height="64" width="64" fill="currentColor">
                <path d={siGithub.path} />
            </svg>
        </a>

        <a href="https://huggingface.co/osbm">
            <svg viewBox="0 0 24 24" height="64" width="64" fill="currentColor">
                <path d={siHuggingface.path} />
            </svg>
        </a>

        <a href="https://www.kaggle.com/osmanf">
            <svg viewBox="0 0 24 24" height="64" width="64" fill="currentColor">
                <path d={siKaggle.path} />
            </svg>
        </a>

        <a href="https://hub.docker.com/u/osbm">
            <svg viewBox="0 0 24 24" height="64" width="64" fill="currentColor">
                <path d={siDocker.path} />
            </svg>
        </a>

        <a href="https://www.linkedin.com/in/osbm/">
            <svg viewBox="0 0 24 24" height="64" width="64" fill="currentColor">
                <path d={siLinkedin.path} />
            </svg>
        </a>

        <a href="https://orcid.org/0000-0002-4346-5356">
            <svg viewBox="0 0 24 24" height="64" width="64" fill="currentColor">
                <path d={siOrcid.path} />
            </svg>

    </div>
</footer>
<style>
    a {
        color: white;
    }

    div.socials {
        display: flex;
        justify-content: center;
        gap: 1rem;
        margin-top: 2rem;
        margin-bottom: 1rem;
    }
</style>
